<%= render partial: 'application/datatables_include' %>

<% content_for :additional_javascripts do %>
  <script>
    user_index = "<%= admins_users_path %>";
  </script>
  <%= javascript_include_tag "pages/admins/userdetail" %>
<% end %>
<div class="row">
<H2 class="page-header">User <%= @user.name || @user.email %></h2>
</div>
<div class="row">
  <dl class="dl-horizontal">
    <dt>Name</dt><dd><%= @user.name || "&nbsp;".html_safe %></dd>
    <dt>Email</dt><dd><%= @user.email || "&nbsp;".html_safe  %></dd>
    <dt>Seit</dt><dd><%= @user.created_at %></dd>
    <% unless @user.identity.nil? %>
      <dt>Via</dt><dd><%= @user.identity.provider %></dd>
    <% end %>
  </dl>
</div>
<% unless @user.dns_host_records.count < 1 %>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <table id="user_dns_hosts_list" class="display table table-striped table-bordered dataTable no-footer">
      <thead>
      <tr><th rowspan="2">Name</th><th colspan="2">IPs</th><th rowspan="2">Since</th></tr>
      <tr><th>IPv4</th><th>IPv6</th></tr>
      </thead>
      <tbody>
      <% @user.dns_host_records.each do |record| %>
        <tr>
          <td><%= record.name %>.<%= record.dns_zone.name %></td>
          <td><%= record.dns_host_ip_a_record.address %></td>
          <td><%= record.dns_host_ip_aaaa_record.address %></td>
          <td><%= record.created_at %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
