<div class="row">
<h2 class="page-header">Sign in</h2>
</div>

<div class="row">
<div class="col-sm-6">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:role => "form", :class => "form-horizontal"}) do |f| %>
     <%= render partial: "layouts/formhelpers/input_helper",:locals => {fo: f,inputtype: :text_field, focus: true, element: :login} %>
     <%= render partial: "layouts/formhelpers/input_helper",:locals => {fo: f,inputtype: :password_field, focus: false, element: :password} %>
     
     <% if devise_mapping.rememberable? -%>
         <%= render partial: "layouts/formhelpers/checkbox_helper", :locals => {fo: f, element: :remember_me} %>
     <% end -%>
     <%= render partial: "layouts/formhelpers/submit_helper", :locals => {fo: f, defaultbtn: true, label: "Sign in"} %>

<% end %>
</div>
</div>

<%= render "admins/shared/links" %>
