<div class="col-md-12">
<%= form_for(@dns_host_record, :html => {:role => "form", :class => "form-horizontal"}) do |f| %>

<% unless @dns_host_record.dns_zone.blank? %>
  <% show_zone_select = false %>
  <% hostname_class = "col-md-12" %>
  <%= hidden_field_tag('dns_zone[id]',@dns_host_record.dns_zone.id) %>
  <% zsel = "" %>
<% else %>
  <% show_zone_select = true %>
  <% hostname_class = "col-md-8" %>
  <% fields_for DnsZone.new do |z| %>
    <% zones = DnsZone.accessible_by(current_ability) %>
    <% defaultzone = zones[0] %>
    <% zsel = z.select(:id, zones.collect{|d| ["."+d.name,d.id]},{:selected => defaultzone, include_blank: false}, :class => "form-control col-md-4") %>
  <% end %>
<% end %>

<% if @dns_host_record.new_record? %>
  <div class="form-group input-group">
    <span class="input-group-addon">Hostname</span>
    <div class="<%= hostname_class %>" style="padding-left: 0;">
    <%= f.text_field(:name,:class => "form-control "+hostname_class) %>
    </div>
      <% if show_zone_select %>
        <div class="col-md-4" style="padding-left: 0;"><%= zsel.html_safe %></div>
      <% end %>
  </div>
<% else %>
  <%= f.hidden_field(:name) %>
<% end %>

  <div class="form-group input-group">
    <span class="input-group-addon">IPV4</span>
          <%= text_field_tag("dns_host_ip_a_record[address]", @dns_host_record.new_record? ? "" : @dns_host_record.ipv4_address,:class => "form-control") %>
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon">IPv6</span>
    <%= text_field_tag("dns_host_ip_aaaa_record[address]", @dns_host_record.new_record? ? "" : @dns_host_record.ipv6_address, :class => "form-control" )  %>
  </div>

      <% if current_client_user %>
          <div class="form-group input-group">
            <span class="input-group-addon">TTL</span>
            <%= number_field_tag(:ttl, @dns_host_record.new_record? ? 3600 : @dns_host_record.ttl, :class => "form-control" )  %>
          </div>
      <% else %>
      <%= f.hidden_field(:ttl, :value => @dns_host_record.new_record? ? Setting.default_ttl : @dns_host_record.ttl ) %>
      <% end %>

<% end %>
</div>