<%= render partial: 'datatables_include' %>
<% content_for :additional_javascripts do %>
<%= javascript_include_tag "pages/dns_host_record/index" %>
<% end %>

  <div>
    <table id="dnszone_records" class="display">
      <thead>
        <tr><th rowspan="2">Name</th><th colspan="2">Assigned Addresses</th><th rowspan="2">Access Token</th><th rowspan="2"></th></tr>
        <tr><th>IPV4</th><th>IPV6</th></tr>
      </thead>
      
      <tbody>
      <% dns_host_records.each do |record| %>
        <% rdec = DnsHostRecordDecorator.new record %>
        
        <tr><td><%= rdec.full_name %></td><td><%= rdec.ipv4_address %></td><td><%= rdec.ipv6_address %></td>
        <td>
          <% if can? :edit, record %>
          <%= rdec.access_token %>
          <% end %>
        </td><td><%= link_to "Delete","#", :class=>"deleterecordbutton", :id => "delete_record_#{record.id}", "data-id" => record.id, "data-url" => dns_host_record_path(record) %></td>
        </tr>
        
      <% end %>
      </tbody>

    </table>
  </div>
