<% content_for :additional_javascripts do %>

<script>
  var createrecordurl = "<%= dns_host_records_path %>";
  var newrecordurl = "<%= new_dns_host_record_path(:partial=>true) %>";
</script>

<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>DNS Records</h3>Update URL: <%= update_dyndns_url %>/&lt;acesstoken&gt;
  </div>
  <div class="panel-body">
  <%= render :partial => "dns_host_records/record_list", :locals => {dns_host_records: @dns_host_records} %>
  </div>
  <div class="panel-footer">
    <%= render :partial => 'dns_host_records/add_record_action' %>
  </div>
  </div>


