<% content_for :title do %>
<%=@dns_host_record.full_name%>
<% end %>

<% content_for :additional_javascripts do %>
<%= javascript_include_tag "pages/dns_host_record/show" %>

<script>
var editrecordurl = "<%= edit_dns_host_record_path(:partial=>true,:id=>@dns_host_record.id) %>";
var recordurl = "<%= dns_host_record_path(@dns_host_record) %>";
window.listurl = "<%= dns_host_records_path %>";
</script>

<% end %>

<h1 class="page-header"><%=@dns_host_record.full_name%></h1>

<div class="row">

<div class="col-md-8">

<% if can? :edit,@dns_host_record %>
<a href="#" id="edit_dns_host_record" class="editrecordbutton">Save record</a>
<a href="#" id="delete_dns_host_record" class="deleterecordbutton">Delete record</a>
<% end %>

</div>

</div>

<div class="row" style="padding-top: 10px;">
<% if can? :edit,@dns_host_record %>
  <div class="col-md-8">
    <%= render partial: "edit_record" %>
    </div>
<% else %>

  <div class="col-md-2" >
    <strong>IPV4</strong>
  </div>
  <div class="col-md-10" >
    <%= @dns_host_record.ipv4_address %> &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-md-2" >
    <strong>IPV6</strong>
  </div>
  <div class="col-md-10" >
    <%= @dns_host_record.ipv6_address %> &nbsp;
 </div>

<% end %>

</div>

<% if can? :edit,@dns_host_record %>
<div class="row">
  <div class="col-md-2" >
    <strong>Access token</strong>
  </div>
  <div class="col-md-9" >
    <%= @dns_host_record.access_token %> &nbsp;
  </div>
</div>
<% end %>
