<% content_for :title do %>
<%=@dns_host_record.full_name%>
<% end %>

<% content_for :additional_javascripts do %>
<%= javascript_include_tag "pages/dns_host_record/show" %>

<script>
var editrecordurl = "<%= edit_dns_host_record_path(:partial=>true,:id=>@dns_host_record.id) %>";
var recordurl = "<%= dns_host_record_path(@dns_host_record) %>";
window.listurl = "<%= client_dns_zone_path(:id => @dns_host_record.dns_zone.id) %>";
</script>

<% end %>

<h1 class="page-header"><%=@dns_host_record.full_name%></h1>

<div class="row">

<div class="col-md-4">
<% if can? :edit,@dns_host_record %>
<a href="#" id="edit_dns_host_record" class="editrecordbutton">Edit record</a>
<a href="#" id="delete_dns_host_record" class="deleterecordbutton">Delete record</a>
<% end %>
</div>

</div>

<div class="row" style="padding-top: 10px;">

<div class="col-md-4" >
<strong>IPV4</strong>
</div>
<div class="col-md-8" >
<%= @dns_host_record.ipv4_address %> &nbsp;
</div>

<div class="col-md-4" >
<strong>IPV6</strong>
</div>
<div class="col-md-8" >
<%= @dns_host_record.ipv6_address %> &nbsp;
</div>

<% if can? :edit,@dns_host_record %>
<div class="col-md-4" >
<strong>Access token</strong>
</div>
<div class="col-md-8" >
<%= @dns_host_record.access_token %> &nbsp;
</div>
<% end %>

</div>

