<% content_for :title do %>
<%=@dns_host_record.full_name%>
<% end %>

<% content_for :additional_javascripts do %>
<%= javascript_include_tag "pages/dns_host_record/show" %>

<script>
var editrecordurl = "<%= edit_dns_host_record_path(:partial=>true,:id=>@dns_host_record.id) %>";
var recordurl = "<%= dns_host_record_path(@dns_host_record) %>";
window.listurl = "<%= dns_host_records_path %>";
</script>

<% end %>


<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-9 col-xs-offset-0">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%=@dns_host_record.full_name%>
      </div>
      <div class="panel-body">
        <% if can? :edit,@dns_host_record %>
            <%= render partial: "edit_record" %>
            <div class="row">
              <div class="col-md-3" >
                <strong>Access token</strong>
              </div>
              <div class="col-md-9" >
                <%= @dns_host_record.access_token %> &nbsp;
              </div>
              <div class="col-md-3">
                <strong>Update URL</strong>
              </div>
              <div class="col-md-9">
                <%= update_dyndns_url(@dns_host_record.access_token) %>
              </div>
            </div>
        <% else %>
            <div class="col-md-2" >
              <strong>IPV4</strong>
            </div>
            <div class="col-md-10" >
              <%= @dns_host_record.ipv4_address %> &nbsp;
            </div>
            <div class="col-md-2" >
              <strong>IPV6</strong>
            </div>
            <div class="col-md-10" >
              <%= @dns_host_record.ipv6_address %> &nbsp;
            </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <% if can? :edit,@dns_host_record %>
            <button type="button" id="edit_dns_host_record" class="btn btn-primary btn-circle"><i class="fa fa-save"></i></button>
            <button type="button" id="delete_dns_host_record" class="deleterecordbutton btn btn-warning btn-circle"><i class="fa fa-trash"></i></button>
        <% end %>
      </div>
    </div>
  </div>
</div>

