<% content_for :title do %>
<%=@dns_host_record.full_name%>
<% end %>
<h1 class="page-header"><%=@dns_host_record.full_name%></h1>

<div class="row">

<div class="col-md-4" >
<strong>IPV4</strong>
</div>
<div class="col-md-8" >
<%= @dns_host_record.ipv4_address %> &nbsp;
</div>

<div class="col-md-4" >
<strong>IPV6</strong>
</div>
<div class="col-md-8" >
<%= @dns_host_record.ipv6_address %> &nbsp;
</div>

<div class="col-md-4" >
<strong>Access token</strong>
</div>
<div class="col-md-8" >
<%= @dns_host_record.access_token %> &nbsp;
</div>

</div>
