<%= render partial: 'datatables_include' %>

<% content_for :additional_javascripts do %>
<%= javascript_include_tag "pages/isp_dnszones/show" %>
<% end %>

<% content_for :title do %>
    <%= "DNS Records for #{@ispdnszone.origin}" %>
<% end %>

<h1 class="page-header">Records for <%= "#{@ispdnszone.origin}" %></h1>

<div>

<table id="dnsrecordstable" class="display">

<thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Type</th>
    <th>Local</th>
  </tr>
</thead>

<tbody>
<% @ispdnszone.records.each do |record| %>
<% localdns = DnsZoneRecord.find_by_name record.name %>

<% if record.type == "A" || record.type == "AAAA" %>
<tr><td><%= record.name %></td><td><%= record.data %></td><td><%= record.type %></td>
<td>
<% unless localdns.blank? %>
  <%= localdns.name %>
<% end %>
</td>
</tr>
<% end %>

<%end%>
</tbody>
</table>

</div>
