<%= render partial: 'datatables_include' %>

<% content_for :additional_javascripts do %>
<%= javascript_include_tag "pages/dns_zone/show" %>

<script>
  var dnszone_id = "<%=@dnszone.id%>";
  var createrecordurl = "<%= dns_zone_records_path%>";
  var newrecordurl = "<%= new_dns_zone_record_path(:partial=>true,:dns_zone_id=>@dnszone.id) %>";
</script>
<% end %>

<div id="dnszone_content">
<table id="dnszone_records" class="display">
  <thead>
    <tr><th rowspan="2">Name</th><th colspan="2">Assigned Addresses</th><th rowspan="2">Access Token</th><th rowspan="2"></th></tr>
    <tr><th>IPV4</th><th>IPV6</th></tr>
  </thead>
  
  <tbody>
  <% @dnszone.dns_zone_records.each do |record| %>
    <% rdec = DnsZoneRecordDecorator.new record %>
    
    <tr><td><%= rdec.name %></td><td><%= rdec.ipv4_address %></td><td><%= rdec.ipv6_address %></td>
    <td>
      <% if can? :edit, record %>
      <%= rdec.access_token %>
      <% end %>
    </td><td></td>
    </tr>
    
  <% end %>
  </tbody>

</table>

</div>

<div id="dnszone_commands">
<a href="#" id="new_dns_zone_record" class="addrecordbutton">Add new record</a>
</div>

