<!DOCTYPE html>
<html>
<head>
<title>
    <%= full_title yield(:title) %>
</title>
<%= render partial: "layouts/stylesheets" %>

<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
    <!-- additional javascripts -->
<%= yield(:additional_javascripts) %>
    <!-- end additional javascripts -->
<%= csrf_meta_tags %>

<!-- specific extra header -->
<%= yield(:extra_head_content) %>
<!-- specific extra header end -->

<script>
$(document).ready(function(){
    <% if current_user && current_user.instance_of?(ClientUser) %>
        $('#js_navigation ul:first-child').addClass("sf-menu");
        console.log($('#js_navigation ul'));
        $('.sf-menu').superfish();
    <% end %>
    $("a.linkbutton").not('.ui-button').button();
  });
</script>

</head>

<body>

<div id="container">
  <!-- specific extra body header -->
  <%= yield(:extra_body_start) %>
  <!-- specific extra body end -->

  <div id="logo" style="margin-bottom: 6px;">Logobereich</div>

  <div id="mainarea">

      <%= render partial: "layouts/navigation"%>

    <div id="maincontent">
      
      <div class="breadcrumbs">
        <%= render_breadcrumbs  :separator => ' &raquo; ' %>
      </div>

      <div class="clear"></div>

    <%= yield %>

    </div>
  </div>
</div>
</body>
</html>
