<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width,initial-scale=1">

<title>
    <%= full_title yield(:title) %>
</title>
<%= render partial: "layouts/js_constants" %>

    <!-- additional javascripts -->
<%= yield(:additional_javascripts) %>
    <!-- end additional javascripts -->
<%= csrf_meta_tags %>

<!-- specific extra header -->
<%= yield(:extra_head_content) %>
<!-- specific extra header end -->

</head>

<body>

  <!-- specific extra body header -->
  <%= yield(:extra_body_start) %>
  <!-- specific extra body end -->

  <!-- <div id="logo">Logobereich</div> -->

  <%= javascript_pack_tag 'hello_vue' %>
  <%= stylesheet_pack_tag 'hello_vue' %>

  <div id='mainapp'>
    <app></app>
  </div>

  <%= yield %>


</body>
</html>
