<!DOCTYPE html>
<html>
<head>
<title>
    <%= full_title yield(:title) %>
</title>
<%= render partial: "layouts/stylesheets" %>

<%= javascript_include_tag "application" %>
    <!-- additional javascripts -->
<%= yield(:additional_javascripts) %>
    <!-- end additional javascripts -->
<%= csrf_meta_tags %>

<!-- specific extra header -->
<%= yield(:extra_head_content) %>
<!-- specific extra header end -->

<script>
$(document).ready(function(){
    $('#js_navigation ul:first-child').addClass("sf-menu");
    try {
    	$('.sf-menu').superfish();
    } catch (ex) {
    	console.log(ex)
    }
    $("a.linkbutton").not('.ui-button').button();
    $( document ).tooltip();
  });
</script>

</head>

<body>

  <!-- specific extra body header -->
  <%= yield(:extra_body_start) %>
  <!-- specific extra body end -->

<div id="logo">Logobereich</div>

<div class="container-fluid">

  <div class="row">

    <%= render partial: "layouts/navigation"%>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-1 main" id="centralarea">
    
      <div class="breadcrumbs">
        <%= render_breadcrumbs :separator => ' &raquo; ' %>
      </div>

      <%= render partial: "layouts/messages" %>

      <%= yield %>

    </div>
  </div>
</div>

</html>
