<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width,initial-scale=1">

<title>
    <%= full_title yield(:title) %>
</title>
<%= render partial: "layouts/stylesheets" %>
<%= render partial: "layouts/js_constants" %>

<%= javascript_include_tag "application" %>
  <%= javascript_pack_tag 'application' %>

    <!-- additional javascripts -->
<%= yield(:additional_javascripts) %>
    <!-- end additional javascripts -->
<%= csrf_meta_tags %>

<!-- specific extra header -->
<%= yield(:extra_head_content) %>
<!-- specific extra header end -->

<script>
  I18n.locale = window.navigator.userLanguage || window.navigator.language;
$(document).ready(function(){
  });
</script>

</head>

<body>

  <!-- specific extra body header -->
  <%= yield(:extra_body_start) %>
  <!-- specific extra body end -->

  <!-- <div id="logo">Logobereich</div> -->

  <div class="container" id="centralarea">


    <%= render partial: "layouts/navigation"%>
    
    <!--    <div class="col-sm-9 col-sm-offset-3 col-md-11 col-md-offset-1 main" id="centralarea"> -->
    
<!--      <div class="breadcrumbs">
        < %= render_breadcrumbs :separator => ' &raquo; ' %>
      </div>
-->

  <%= render partial: "layouts/messages" %>
  <%= yield %>

      <!--    </div> -->
</div>

<%= render partial:  "layouts/yesno" %>

</body>
</html>
