<div class="row">
<h2 class="page-header">Edit <%= resource_name.to_s.humanize %></h2>
</div>

<div class="row">

<% if current_user.identity.nil? %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,:role => "form", :class => "form-horizontal col-sm-6" }) do |f| %>
        <div class="col-sm-offset-1 col-sm-11">
            <%= devise_error_messages! %>
        </div>

        <%= render partial: "layouts/formhelpers/input_helper",:locals => {fo: f,inputtype: :text_field, focus: false, element: :name} %>
        <%= render partial: "layouts/formhelpers/input_helper",:locals => {fo: f,inputtype: :email_field, focus: true, element: :email} %>

  <% if (devise_mapping.confirmable? && resource.pending_reconfirmation?) %>
    <div class="col-sm-12">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>
        <div class="col-sm-offset-2 col-sm-10">
        <em>(leave blank if you don't want to change it)</em>
        </div>
        <%= render partial: "layouts/formhelpers/input_helper",:locals => {fo: f,inputtype: :password_field, focus: false, element: :password} %>
        <%= render partial: "layouts/formhelpers/input_helper",:locals => {fo: f,inputtype: :password_field, focus: false, element: :password_confirmation} %>
        <div class="col-sm-offset-2 col-sm-10">
         <em>we need your current password to confirm your changes</em>
        </div>
        <%= render partial: "layouts/formhelpers/input_helper",:locals => {fo: f,inputtype: :password_field, focus: false, element: :current_password} %>
        <%= render partial: "layouts/formhelpers/submit_helper", :locals => {fo: f, defaultbtn: true, label: "Update"} %>
<% end %>

<% else %>
    <div class="col-sm-offset-1 col-sm-5">
        <p class="lead">Your'e logged in via <%= current_user.identity.provider.capitalize %>, you can not change your password or user information here.</p>
    </div>
<% end %>


<div class="col-sm-6">
    <%= button_to "Unhappy? Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,  :class=>"btn btn-danger btn-lg" %>

</div>
</div>

